@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

body {
  font-family: "JetBrains Mono", monospace;
}

::selection {
  background: white;
  color: black;
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

/* IE, Edge, Firefox */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}